<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
<link rel="stylesheet" href='static/css/style.css'>
</head>
<body>
<p>Begin with just 5 minutes a day, and increase your time as the exercise becomes easier and more comfortable.
If 5 minutes feels too long, start with just 2 minutes.
Practice multiple times a day. Schedule set times or practice conscious breathing as you feel the need.
</p>
<p>

Relax your neck and shoulders.
Keeping your mouth closed, inhale slowly through your nose for 2 counts.
Pucker or purse your lips as though you were going to whistle.
Exhale slowly by blowing air through your pursed lips for a count of 4.
</p>
<img src="https://www.humanesociety.org/sites/default/files/2022-07/kitten-playing-575035.jpg">


</body>
</html>