<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href='static/css/style.css'>
</head>
<body>
<h1>
welcome {{name}} how do you feel if you need any help press for breathing techniques or for a video about anxiety
</h1>
<!-- <form>
	<div class="btn">
		<input type="submit" name="brtec" value="breathing techniques">
<input type="submit" name="vdanx" value="video about anxiety">
	</div>
</form>
 -->
 <a href='/brtec'><button class  = 'btn'>Breathing Techniques</button></a>
 <a href="/vdanx"><button class  = 'btn'>video about anxiety</button></a>
</body>
</html>