<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign in</title>
    <link rel="stylesheet" href='static/css/style.css'>
</head>
<body>
<h1 class = 'hmtt'>welcome to anxi</h1>
<p class = 'hmtt'>this is a place where you can write down all of your problems and talk about it with only me ;)</p>
<form method="POST" action = "/">
    <input class = "npt" type="text" name="fullname" placeholder="fullname" maxlength="20">
    <input class = "npt" type="number" name="age" placeholder="age" maxlength="3" min="0" max="100">
    <input class = "npt" type="email" name="email" placeholder="email" maxlength="20">
    <input class = "npt" type="password" name="password" placeholder="password" max="6" min="6">
    <input class = "npt" type="submit" value="Send Request" />
</form>
</body>
</html>